body{font-family: 'Roboto Mono'; overflow: hidden;}

/************************************************/
/********************** HOME ********************/
/***********************************************/

/****** BURGER ****/
#hamburger-button{
    position: absolute;
    z-index: 9999;
    display: inline-block;
    vertical-align: top;
    height:30px;
    width:40px;
    margin-left:5%;
    margin-top:5%;
    cursor: pointer;
}
#hamburger-button>span {
    display: block;
    height: 6px;
    margin-bottom: 6px;
    width: 40px;
    background-color: #40ffbf;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration:0.4s;
}   
#hamburger-button.open>span:first-child{
    -webkit-transform: translateY(12px) rotate(45deg);
    -moz-transform: translateY(12px) rotate(45deg); 
    -ms-transform: translateY(12px) rotate(45deg); 
    -o-transform: translateY(12px) rotate(45deg); 
    transform:translateY(12px) rotate(45deg);
}
#hamburger-button.open>span:nth-child(2){
    -webkit-transform: rotateY(90deg); 
    -moz-transform: rotateY(90deg); 
    -ms-transform: rotateY(90deg); 
    -o-transform: rotateY(90deg); 
    transform: rotateY(90deg);
}
#hamburger-button.open>span:last-child{
    -webkit-transform: translateY(-12px) rotate(-45deg); 
    -moz-transform: translateY(-12px) rotate(-45deg); 
    -ms-transform: translateY(-12px) rotate(-45deg); 
    -o-transform: translateY(-12px) rotate(-45deg); 
    transform: translateY(-12px) rotate(-45deg);
}
.navbar{
    position:absolute;
    opacity:.9;
    z-index:888; 
    height:100%;
    width: 150px;
    left:-200px;
    transition:0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color:#fff;
    color:#40ffbf;
}
.navbar.open{
    left:0;
}
.navbar ul{
    list-style:none;
    margin-top:60%;
    font-size:1.5em;
}
.navbar ul li{
    border-bottom:1px solid #282a29;
    margin-bottom:10px;
    padding:10px;
    text-align:left;
    z-index: 999;
}
nav{
    position: relative;
    height: 100%;
}
#menu{
    color: #40ffbf;
    position: fixed;
    z-index: 50;
}
div{
    display: block;
}
ul>li>a{
    text-decoration: none;
    color: #40ffbf;  
}

.button{
    position: fixed;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
}

#works-button{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2em;
}

#about-button{
    top: 50%;
    transform: rotate(270deg);
    font-size: 2.2em;
}
#contact-button{
    right: 0%;
    top: 50%;
    transform: rotate(90deg);
    font-size: 2.2em;
}
#name-button{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    font-weight: 300;
    color: #282a29;
}
#logo{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    opacity: 0;    
/***************** opacity *******************/
    -webkit-animation-name:opacityLogo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay:1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name:opacityLogo;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: ease;
    -moz-animation-delay:1s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name:opacityLogo;
    -o-animation-duration: 2s;
    -o-animation-timing-function: ease;
    -o-animation-delay:1s;
    -o-animation-fill-mode: forwards;
    -ms-animation-name:opacityLogo;
    -ms-animation-duration: 2s;
    -ms-animation-timing-function: ease;
    -ms-animation-delay:1s;
    -ms-animation-fill-mode: forwards;
    animation-name:opacityLogo;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay:1s;
    animation-fill-mode: forwards;
}
@-webkit-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@-moz-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@-o-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@-ms-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@keyframes opacityLogo{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,200%);
    font-size: 1.5em;
    color: #40ffbf;
    font-family: 'cutive mono';
}
h3{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: #40ffbf;
}
#works>h3{color: #fff;}

/***********************************************************/
/************************** WORKS **************************/
/*********************************************************/

#works{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #40ffbf;
    top: -100%;
}
#works.open{top: 0;}
#flex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;   
    max-height: 100%;
    min-width: 80%;
}
.items {
    height: 180px;
    width: 180px;
    margin: 20px; 
}
.items:hover{
    animation: noise-3 1s linear infinite;
}
@keyframes noise-3{
    0%,3%,5%,42%,44%,100% {opacity: 1; transform: scaleY(1);}
    4.3% {opacity: 1; transform: scaleY(1.5);}
    43% {opacity: 1; transform: scaleX(10); transform: scaleY(.1); rotate(60deg);}
}

/**************************************************************/
/***************************** ABOUT *************************/
/*************************************************************/
#about{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: -100%; 
}
#console{
    position: absolute;
    bottom: 100px;
    left: 10%;
    padding-right: 100px;
    max-width: 700px;
    line-height: 40px;
    font-family: 'cutive mono';
    font-size: 1.6em;
}
.cursor {
    background: #40ffbf;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s infinite linear;
    -ms-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
    -o-animation: blink 1s infinite linear;
    -webkit-box-shadow: 0 0 5px rgba(0,100,0,40);
    -moz-box-shadow: 0 0 5px rgba(0,100,0,40);
    -ms-box-shadow: 0 0 5px rgba(0,100,0,40);
    -o-box-shadow: 0 0 5px rgba(0,100,0,40);
    box-shadow: 0 0 5px rgba(0,100,0,40);
}
@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-ms-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-moz-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-o-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}

#consolequeries{
    position: absolute;
    bottom: 100px;
    left: 10%;
    padding-right: 100px;
    max-width: 700px;
    line-height: 80px;
    font-family: 'cutive mono';
    font-size: 2em;  
}

/*******************************************************************/
/***************************** CONTACT *****************************/
/******************************************************************/
#contact{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #282a29;
    left: 100%;
}
#flexitude{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-width: 80%;
}
#flexitude>span{
    position: relative;
    margin: 100px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0.5;
}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#flexitude>span:hover{opacity: 1;}
#mail{
    cursor: pointer;
}
#form{
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: none;
    color: white;
    opacity: 0;
}
#close{
    margin-left: 113%;
    cursor: pointer;
}
input:focus{outline: none;}
textarea:focus{outline: none;}
.feedback-input{
    color: white;
    font-size: 0.9em;
    font-family: 'cutive mono';
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #33B588;
    transition: all 0.3s;
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
}
.feedback-input:focus { border:2px solid #40ffbf; }
textarea {
    height: 200px;
    width: 100%;
}
[type="submit"]{
    color: white;
    font-family: 'cutive mono';
    width: 50%;
    background-color: #33B588;
    border-radius: 5px;
    border: 0;
    cursor: pointer; 
    transition: all 0.3s;
}
[type="submit"]:hover{background-color:#40ffbf;}
form{
    padding: 50px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    max-width: 50%;
}
