body{font-family: 'Roboto Mono'; overflow: hidden;}

/* =========================================== HOME ===================================== */

/* =============================== BURGER ================================= */

#hamburger-button{
    position: absolute;
    z-index: 9999;
    display: inline-block;
    vertical-align: top;
    height:30px;
    width:40px;
    margin-left:5%;
    margin-top:5%;
    cursor: pointer;
}

#hamburger-button>span {
    display: block;
    height: 6px;
    margin-bottom: 6px;
    width: 40px;
    background-color: #40ffbf;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-duration:0.4s;
}

#hamburger-button.open>span:first-child{
    -webkit-transform: translateY(12px) rotate(45deg);
    -moz-transform: translateY(12px) rotate(45deg); 
    -ms-transform: translateY(12px) rotate(45deg); 
    -o-transform: translateY(12px) rotate(45deg); 
    transform:translateY(12px) rotate(45deg);
}

#hamburger-button.open>span:nth-child(2){
    -webkit-transform: rotateY(90deg); 
    -moz-transform: rotateY(90deg); 
    -ms-transform: rotateY(90deg); 
    -o-transform: rotateY(90deg); 
    transform: rotateY(90deg);
}

#hamburger-button.open>span:last-child{
    -webkit-transform: translateY(-12px) rotate(-45deg); 
    -moz-transform: translateY(-12px) rotate(-45deg); 
    -ms-transform: translateY(-12px) rotate(-45deg); 
    -o-transform: translateY(-12px) rotate(-45deg); 
    transform: translateY(-12px) rotate(-45deg);
}

.navbar{
    position:absolute;
    opacity:.9;
    z-index:888; 
    height:100%;
    width: 150px;
    left:-200px;
    transition:0.4s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background-color:#fff;
    color:#40ffbf;
}

.navbar.open{
    left:0;
}

.navbar ul{
    list-style:none;
    margin-top:60%;
    font-size:1.5em;
}

.navbar ul li{
    border-bottom:1px solid #282a29;
    margin-bottom:10px;
    padding:10px;
    text-align:left;
    z-index: 999;
}

/* =============================== MAIN NAV ================================= */

nav{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#menu{
    color: #40ffbf;
    position: fixed;
    z-index: 50;
}

div{
    display: block;
}

ul>li>a{
    text-decoration: none;
    color: #40ffbf;  
}

.button{
    position: fixed;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    transition: all .3s ease;
}

#works-button{
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2em;
}

#about-button{
    top: 50%;
    transform: rotate(270deg);
    font-size: 2.2em;
}

#contact-button{
    right: 0%;
    top: 50%;
    transform: rotate(90deg);
    font-size: 2.2em;
}

#name-button{
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    font-weight: 300;
    color: #282a29;
}

#logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 30%;
    opacity: 0;    
    -webkit-animation-name:opacityLogo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-delay:1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name:opacityLogo;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease;
    -moz-animation-delay:1s;
    -moz-animation-fill-mode: forwards;
    -o-animation-name:opacityLogo;
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease;
    -o-animation-delay:1s;
    -o-animation-fill-mode: forwards;
    -ms-animation-name:opacityLogo;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: ease;
    -ms-animation-delay:1s;
    -ms-animation-fill-mode: forwards;
    animation-name:opacityLogo;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay:1s;
    animation-fill-mode: forwards;
}

@-webkit-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@-moz-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@-o-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@-ms-keyframes opacityLogo{from{opacity: 0;}to{opacity: 1;}}
@keyframes opacityLogo{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

h1{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,200%);
    font-size: 1.5em;
    color: #40ffbf;
    font-family: 'cutive mono';
}

#menu span{
    position: relative;
    display: block;
    cursor: pointer;
}

#menu span:before, #menu span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 4px;
    top: 50%;
    margin-top: -0.5px;
    background: #fff;
}

#menu span:before {
    left: -2.5px;
}
#menu span:after {
    right: 2.5px;
    background: #fff;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#menu span:hover:before {
    background: #fff;
    width: 100%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#menu span:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
}

/* =============================== TITLE =================== */

h3{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: #40ffbf;
}

#works>h3{color: #fff;}

/* =========================================== WORKS ===================================== */

#works{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #40ffbf;
    top: -100%;
    overflow: hidden;
}

#works.open{top: 0;}

.scrollIcon{
    position: absolute;
    top: 75%;
    left: 48%;
    animation: pulse 2s infinite ease running;
}

@keyframes pulse{
    0% 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
}
#scrollX{
    display: block;
}
#scrollY{
    display: none;
}

#flex{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row;   
    overflow: hidden;
}

.items {
    margin: 20px; 
    transition: transform .3s ease;
    transform: scale(1);
}

.items:hover{
    transform: scale(1.2);
}

.items a{
    text-decoration: none;
}

.items .description{
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.8);
    width: 100%;   
    height: 100%;
    opacity: 0;
    transition: .3s ease;
}

h2, h4{
    text-align: center;
    color: #40ffbf;
    max-width: 90%;
    display: block;
    margin: 0 auto;
}

h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
    transform: translateY(-25px);
    transition: .3s ease;
    padding-top: 55px;
    margin-bottom: 10px;   
}

h4{
    transform: translateY(25px);
    transition: .3s ease;  
}

.description:hover{opacity: 1;}

.items:hover .description h2, .items:hover .description h4{transform: translateY(0);}

/* =========================================== ABOUT ===================================== */

#about{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #fff;
    left: -100%; 
    overflow: hidden;
}

/* =============================== CONSOLE =================== */

#console{
    position: absolute;
    bottom: 80px;
    left: 10%;
    padding-right: 100px;
    max-width: 700px;
    line-height: 40px;
    font-family: 'cutive mono';
    font-size: 1.5em;
}

.cursor {
    background: #40ffbf;
    animation: blink 1s linear infinite;
    -webkit-animation: blink 1s infinite linear;
    -ms-animation: blink 1s infinite linear;
    -moz-animation: blink 1s infinite linear;
    -o-animation: blink 1s infinite linear;
    -webkit-box-shadow: 0 0 5px rgba(0,100,0,40);
    -moz-box-shadow: 0 0 5px rgba(0,100,0,40);
    -ms-box-shadow: 0 0 5px rgba(0,100,0,40);
    -o-box-shadow: 0 0 5px rgba(0,100,0,40);
    box-shadow: 0 0 5px rgba(0,100,0,40);
}

@keyframes blink {
    0% { opacity: 1; }
    25% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-ms-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-moz-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}
@-o-keyframes blink {0% { opacity: 1; }25% { opacity: 0; }50% { opacity: 0; }100% { opacity: 1; }}

/* =============================== CONSOLE QUERIES =================== */

#consolequeries{
    position: absolute;
    bottom: 80px;
    left: 10%;
    padding-right: 100px;
    max-width: 500px;
    line-height: 30px;
    font-family: 'cutive mono';
    font-size: 1.2em;  
    max-height: 400px;
}

/* =========================================== CONTACT ===================================== */

#contact{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #282a29;
    left: 100%;
    overflow: hidden;
}

#flexitude{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    min-width: 80%;
}

#flexitude>span{
    position: relative;
    margin: 100px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0.5;
}

.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#flexitude>span:hover{opacity: 1;}

#mail{
    cursor: pointer;
}