@media screen and (min-width:769px){
    #burger{display: none;}
    h1{display: none;}
    h3{display: none;}   
}

@media screen and (min-width:801px){
    #consolequeries{display: none;}    
}

@media screen and (max-width:1280px){
    .bottom{font-size: 40px;}
    #txt{font-size: 40px;}
}

@media screen and (max-width:800px){    
    .placeholder{display: none;}
    #console{display: none;}
}

@media screen and (max-width:768px){
    #menu{display: none;}
    #burger{display: block;}
    h1{display: block;}
    h3{display: block;} 
    .bottom{font-size: 30px;}
    #txt{font-size: 30px;}   
}

@media screen and (max-width:600px){ 
    #goback{margin: 20px;}
    
}

@media screen and (min-width:480px){
    #flex{max-height: 70%; max-width: 70%; overflow-x: scroll;}
}

@media screen and (max-width:480px){  
    #consolequeries{font-size: 1.2em;bottom: 20px;line-height: 25px; padding-right: 50px;}
    #flex{max-height: 70%; max-width: 70%; overflow-y: scroll; flex-direction: column;}
    #flexitude>span{width: 50%;}
    .icon{width: 70%;}
    #flexitude>span{margin: 70px;}
    h1{font-size: 1em;}  
    .scrollIcon{top: 90%;}
    #scrollY{display: block;}
    #scrollX{display: none;}
}

@media screen and (max-height:490px){
    #consolequeries{font-size: 0.8em; line-height: 20px;}
}
