html, body{height: 100%; font-family: 'Roboto Mono';}

#goback{
    margin: 30px;
    cursor: pointer;
    display: inline-block;
    height: 15px;
    font-size: 1.2em;
    color: #fff;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    transition-duration:.3s;
}

#goback:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

#goback img{
    width: 40px;
}

h6{
    color: #40ffbf;
    font-weight: 400;
    font-size: 0.8em;
    margin-left: 35px;
}

.title{
    width: auto;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.title h1{
    display: inline;
    text-transform: uppercase;
    color: #40ffbf;
    font-size: 6em;
    font-weight: 900;
    font-family: lato;
}

.title span{
    position: relative;
    top: -30px;
    left: 25px;
    display: block;
    height: 30px;
    width: auto;
    background-color: rgba(178,35,0,0.8);
}

header{
    height: 400px; 
}

.intro{
    height: 250px;
}

.description{
    padding: 20px 0px 20px 0px;
    color: #999;
    font-size: 0.8em;
    width: 500px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 400;
    line-height: 1.3em;
    column-count: 2;
    column-gap: 3em;
    text-align: justify;
}

h2{
    padding-top: 50px;
    font-family: roboto;
    text-transform: uppercase;
    text-align: center;
    text-decoration: overline;
    font-size: 1.2em;
    color: #313332;  
}

.button a{
    text-decoration: none;  
    color: #777;
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 3px;
}

.button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 25PX;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    border: 3px solid #40ffbf;
    box-shadow: inset 0px -2px 0px #40ffbf;
    transition: all .2s ease 0s;
}

.button:hover{
    box-shadow:inset 0px -35px 0px #40ffbf;
}

main{
    background-color: #fff;
}


#flexwork{
    position: relative;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

#logoSed{
    margin: 50px 0 50px 0;
}

.wrap{
    height: 300px;
    width: 100%;
}
.sed{
    background-color: #ffde00;
}

.lau{
    background-color: #ec6525;
}

.elixir{
    background: url(../images/elixir/bg-home.png);
    height: 400px;
}
.wrap img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.projectNav{
    width: 30%;
    transition: .3s ease;
}

.projectNav:hover{
    transform: scale(1.2);
}

.previous{
    position: fixed;
    top: 30%;
    left: 30px;
    text-align: center;
    width: 80px;
}

.next{
    position: fixed;
    top: 30%;
    right: 30px;
    text-align: center;
    width: 80px;
}

h5{
    padding-top: 8px;
    font-size: 0.6em;
}